body {
  background-color: #f8f8f8;
  font-family: 'Montserrat', sans-serif;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 26vh;
    width: 100%;
    background-color: #5943f4;
  }
}

h1,
h2,
p,
span,
label,
input,
a {
  font-family: 'Montserrat', sans-serif;
}

.weather-app {
  padding: 2rem 0;
  position: relative;
  z-index: 1;

  .title-main {
    color: #fff;
  }
}

.form-main {
  label {
    color: #fff;
    margin-bottom: 0.5rem;
  }
  input {
    border: 0;
    box-shadow: none;
  }
}

.card-weather {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(#000, 0.1);
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 1s, transform 3s cubic-bezier(0.075, 0.82, 0.165, 1);

  .icon {
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
    margin: 0 auto -70px;
    border-radius: 50%;
    width: 100px;
    background-color: #fff;
  }

  .details {
    position: relative;
    z-index: 1;
    padding: 0 1rem 1.5rem;
    text-align: center;

    .name {
      font-size: 2rem;
    }

    .condition {
      font-weight: 700;
    }
  }

  &.is-loaded {
    transform: translateY(0);
    opacity: 1;
  }
}
